# macOS
.DS_Store

# Node
node_modules/
pnpm-lock.yaml
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# VSCode
.vscode/
.history/

# Supabase / temporaire
*.log
.supabase/
.supabase/config.toml
.temp/

# Others
legacy/
*.sqlite3
*.db